<aside class="prose">
  <div class="max-w-sm md:float-right">
    <h2 class="uppercase text-center">2020 Season Picks Counter</h2>
    <ul>
      <li>Week 1: 8/12 (66.667% for the week)
        <ul>
          <li>Running Total: 8/12 (66.667% for the season)</li>
        </ul>
      </li>
      <li>Week 2: 12/16 (75% for the week)
        <ul>
          <li>Running Total: 20/28 (71.43% for the season)</li>
        </ul>
      </li>
      <li>Week 3: 10.5/16 (65.625% for the week)
        <ul>
          <li>Running Total: 30.5/44 (69% for the season)</li>
        </ul>
      </li>
      <li>Week 4: 12/15 (80% for the week)
        <ul>
          <li>Running Total: 42.5/59 (72% for the season)</li>
        </ul>
      </li>
      <li>Week 5: 8/14 (57% for the week)
        <ul>
          <li>Running Total: 50.5/73 (69% for the season)</li>
        </ul>
      </li>
  </div>
</aside>