<aside class="max-w-sm">
  <h4 class="uppercase text-center">Img of the week</h4>
  <img
    src='/img/iotw/jeff-driskel-thong-pants-gators.jpg'
    alt="Jeff Driskel's Thong"
    class="w-full h-auto"
  />
</aside>
