<aside>
  <div class="max-w-sm md:float-right">
    <h4 class="uppercase text-center">Img of the week</h4>
    <img
      src='/img/iotw/jeff-driskel-thong-pants-gators.jpg'
      alt="Jeff Driskel's Thong"
      class="w-full h-auto"
    />
  </div>
</aside>