<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or siteData.title }}</title>
    <meta name="description" content="{{ description or siteData.description }}" />
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
    <link rel="icon" href="{{ '/img/favicon.ico' | url }}" />
  </head>
  <body class="py-2 px-4">
    <main>
      {% include 'header.njk' %}

      {{ content | safe }}

      {% include 'footer.njk' %}
    </main>
    <script>
      const theme = localStorage.getItem('theme');
      if (theme) { document.documentElement.dataset.theme = theme; }
      const themeSwitchers = document.querySelectorAll('header span img');
      themeSwitchers.forEach(elt => elt.addEventListener('click', event => {
        const newTheme = event.target.dataset.themeSwitcher;
        localStorage.setItem('theme', newTheme);
        document.documentElement.dataset.theme = newTheme;
      }));
    </script>
  </body>
</html>