---
layout: default
---

<article class="md:col-span-2">
  <h1>Latest Blog Posts</h1>
  <ul>
    {% for post in collections.blog | reverse %}
      <li>
        <a href="{{ post.url }}" class="no-underline text-link">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <p>Go to <a href="/blog" class="no-underline text-link">the blog</a> for all my posts.<p>
</article>
