---
layout: default
---

<article class="md:col-span-2">
  <h1>Blog Posts</h1>
  <ul>
  {% for post in collections.blog %}
    <li><a href="{{ post.url | url }}" class="no-underline">{{ post.data.title }}</a></li>
  {% endfor %}
  </ul>
</article>
