<!DOCTYPE html>
<html lang="en" data-theme="current">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or siteData.title }}</title>
    <meta name="description" content="{{ description or siteData.description }}" />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
    <link rel="icon" href="{{ '/img/favicon.ico' | url }}" />
  </head>
  <body class="py-2 px-4">
    <header class="flex flex-row flex-wrap justify-between items-center">
      <a href='/' class="font-bold">{{ siteData.title }}</a>
      <span class="flex flex-row flex-no-wrap justify-between items-center w-24">
        <img
          src='/img/logos/original.png'
          alt='Original Theme'
          class="flex-none w-auto cursor-pointer"
          data-theme-switcher="original"
        />
        <img
          src='/img/logos/classic.png'
          alt='Classic Theme'
          class="flex-none w-auto cursor-pointer"
          data-theme-switcher="classic"
        />
        <img
          src='/img/logos/current.png'
          alt='Current Theme'
          class="flex-none w-auto cursor-pointer"
          data-theme-switcher="current"
        />
      </span>
    </header>
    <h1>{{ title or siteData.title }}</h1>
    <script>
      const themeSwitchers = document.querySelectorAll('header span img');
      themeSwitchers.forEach(elt => elt.addEventListener('click', event => { 
        document.documentElement.dataset.theme = event.target.dataset.themeSwitcher 
      }));
    </script>
  </body>
</html>